.product{
	background-color: #F5F9FE;
	padding-top: 80px;
	height: 650px;
}
.productCard{
	max-width: 1140px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
}

.service{
	background-color: white;
	padding-top: 80px;
	height: 500px;
}
