.footer{
	display: flex;
	flex-direction: row;
	max-width: 1140px;
	height: 100px;
	margin: 60px auto 0;
	align-items: center;
	justify-content: space-evenly;
	border-top: 1px solid #f3f5f6;
	padding-top: 80px;
	padding-bottom: 80px;
	color: #93999F;
}

.img {
	width: 80px;
}